<div class='jumbotron'>
  <div class='container edit_container'>
    <%= form_for @list do |f| %>
      <div>
        <label for="Name"> Profile Picture </label>
        <%= f.file_field :name, placeholder: @list.name %><br>
      </div>
      <div>
        <label for="Image"> </label><br>
        <%= f.text_field :image, placeholder: @list.image %>
      </div>
      <br>
      <div>  <%= f.submit "Update!", class: "btn btn-success btn-lg  btn-signuplog" %>
      </div>
    <% end %>
  </div>
</div>
