<body style='background-image:url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/14344363_10207850065554461_6327758999510302675_n.jpg?oh=c488f21cd0b339c006c240ba825f2e7c&oe=58B9384B");background-repeat:no-repeat;background-size:100%;'
>
  <!-- <div class='jumbotron'> -->
    <div class='container'>
      <div class='col-lg-8 col-xs-12'>
        Hi, I'm Toby. I'm currently a decrepit web designer who spends all day hunched over a computer trying to get code to bend to my will.
        I have very limited success. I've had a bit more success hiking, specifically the Appalachian Trail. While it was awesome, I realized
        that there wasn't a great resource to tell you what you needed. It was either people or preaching about specific items or overwhelmingly
        large selections at big box stores like REI. And so, the idea for Hyker was born! Now that it's first phase is complete, some would
        argue that there is still isn't a great resource to tell you what you need for thru hikes. They're jerks. My dear instructor Nathan
        suggested trying to broaden my range to include other activities like cycle touring and canoeing. While this made the data models infinitely
        more complicated, the real problem is I know nothing about either of these activites, and so have some research and tried my best to fake
        it for all you cycling enthusiasts. Make sure you always try on your gear before you buy it and try to find places with generous return
        policies<br>
        Cheers<br>
        Toby 'Audubon' Zitsman
      </div>
    </div>
  </div>
</body>
