// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#info {
  float:right;
  position: fixed;
  left: 90vw;
  top: 80vh;
  background-color: lightgrey;
  color: green;
  padding: 0px 5px;
}

#thumbnail {
  height:200px;
}

#thumbnail_container {
  margin-top:20px;
}

.inline {
  display:inline!important;
  width: 25%!important;
}

#unit {
  height:34px;
  width:30%;
  margin-left:5px;
}

#addbutton {
  position:absolute;
  left:90vw;
}
.skipper {
  position:absolute;
  right:94vw;
}
.return {
  position:absolute;
  right:88vw;
}

#bag {
  height: 50px;
}
.name {
  padding-left: 40vw!important;
}

.category {
  padding-bottom:10px;
  padding-top:10px;
}

.selected {
  background-color:darkgrey;
}
