// Place all the styles related to the checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background-container {
  background-color:rgba(200,200,200,.5);
}

#checklist_container {
  margin-bottom:5px;
}

.checked {
  margin-right:4px;
}

.unchecked {
  margin-right:4px;
  padding-left:8px!important;
  padding-right:8px!important;
}
