// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.large {
  overflow-x:scroll;
  white-space: nowrap;
}

.items {
  width: 300px;
  display: block;
  float:left;
  position: relative;
}

.form-control {
  width:60% !important;
  margin-bottom: 5px;
}

.second {
  width:200%;
}

.edit_container {
background-color:rgba(0,15,11,.1);
width:400px
}

#delete {
  width:120px!important;
}
#middle_container {
  text-align:center;
}

#new_list {
  margin-top:25px
}

#itm_image {
  height:100px
}

#itm_name {
  text-align:center;
}

#rating {
  width:70px!important
}

.cont {
  width:33%;
  text-align:center;
  float:left;
  position:relative;
  display:block;
}
@media (max-width: 600px) {
  .cont {
    width:90%;
  }
}

.comment {
  width: 120px!important;
  margin-bottom: 4px!important;
}

.mybutton {
  border: 1px solid #908080 !important;
  background-color: lightgrey !important;
}

.mybutton:hover {
  color: white !important;
  background-color: grey !important;
}

.edit {
  padding: 3px 10px!important;
  border-radius: 6px !important;
}

.fafa {

  font-size:24px;
  font-weight:500;
  padding-top: 4px;
}
.down {
  padding-left: 6px;
  
}
