// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-control {
  width:60% !important;
  margin-bottom: 5px;
}

.edit_container {
background-color:rgba(0,15,11,.1);
width:400px
}

#middle_container {
  text-align:center;
}

#new_list {
  margin-top:25px
}

#item_image {
  height:100px
}

#item_name {
  text-align:center;
}

#rating {
  width:70px!important
}

#delete {
  width:150px
}
